/*---Estilo Geral---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    p {
        font-family: "Lexend", sans-serif;
    }
}

body{
    background-color: #e0e0e0;
    color: #e0e0e0;
    height: 100vh;

}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}

.Logo img {
  width: 110px;  
  height: auto;  
}


/*----Cabeçario----*/
header{
    padding: 25px 1%;
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    z-index: 1000;    
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    
}

header.scrolled {
    background-color: #121212;
    border-bottom: 1px solid #fff;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header a{
    color:rgb(255, 255, 255) ;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-family: "Lexend", sans-serif;
}

header a:hover{
    color: rgb(18, 0, 34);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* Estilo do Topo do Site */
section.topo-do-site{
    padding: 40px 4%;
    padding-top: 130px; 
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site {
    background-image: url("../Imagens/Design sem nome (3).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;    
}

.flex {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.interface {
    max-width: 1200px;
    margin-left: 0; 
    margin-right: auto;
    padding-left: 80px;
}

.txt-topo-site {
    max-width: 520px;
    width: 100%;
    text-align: left;
}

.topo-do-site .txt-topo-site h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 42px;
    line-height: 1.1;
    font-weight: 300;
}

.topo-do-site .txt-topo-site h1 span {
    color: #FF8C42;
    display: block;
}

.topo-do-site .txt-topo-site p{
    max-width: 480px;
    margin: 35px 0;
    line-height: 1.6;
    
}

.Span{
    color: #FF8C42;
    max-width: 480px;
    margin: 35px 0;
    line-height: 1.6;
    font-weight: 800;
    
}

.btn-Saiba-Mais {
    max-width: 480px;
    margin: 35px 0;
    margin-top: 20px; 
}

.btn-Saiba-Mais button{
    padding: 20px 50px;
    font-size: 30px;
    font-weight: 600;
    background-color:#FF8C42 ;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    
}

.btn-Saiba-Mais:hover{
    color: rgb(18, 0, 34);
    transform: scale(1.05);
}


/* Sobre Daniel */

section.sobre{
    padding: 80px 4;
    margin-top: 60px

}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}

.interface {
    max-width: 1200px;
    text-align: center;
    
    
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
    color: #283930;
    font-family: 'Quicksand', sans-serif
}

.sobre .txt-sobre h2 span{
    padding: 30px 4;
    margin-top: 15px;
    color: #FF8C42 ;
    display: block;
    font-size: 60px;
    font-family: 'Lexend', sans-serif

}

.sobre .txt-sobre p{
    margin: 35px 0;
    line-height: 1.6;
    color: #283930;
}

.img-sobre img {
  width: 400px; 
  height: 400px;       
  border-radius: 50%;  
  object-fit: cover;   
}
/* Suporte CPS */

.Suporte-CPS{
    background-image: url("../Imagens/Design\ meio\ do\ site.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section.Suporte-CPS{
    padding: 80px 4px;
    margin-top: 60px;

}

section.Suporte-CPS .flex{
    align-items: center;
    gap: 60px;

}

.Suporte-CPS .txt-Suporte h2{
    color: brown;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}


.Suporte-CPS .txt-Suporte p{
    margin: 20px 0;
    
} 


.Suporte-CPS .img-Suporte img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
}

/* Votação Trimestral */


section .votação-cps{
    padding: 80px 4px;
    margin-top: 100px;

}

.votação-cps .txt-votação h2{
    color: rgb(231, 230, 230);
    font-size: 35px;
    line-height: 35px; 
    margin-bottom: 30px;
    text-align: center;
}

.votação-cps .txt-votação h2 span{
    color: rgb(255, 184, 4);
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
    display: block;
}

.highlight-p{

    color: rgb(255, 184, 4);

}


.votação-cps .txt-votação p{
    margin: 20px 0;
    
}  

.btn-votar {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.btn-votar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:rgb(255, 184, 4) ;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    
}


